@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #091921;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    display: grid;
    position: relative;
}
.calculator .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span {
    display: grid;
    height: 70px;
    width: 70px;
    color: white;
    background: #062835;
    cursor: pointer;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}
.calculator span:hover {
    background: #74ff3b;
    color: #111;
}
.calculator span.clear {
    grid-column: span 2;
    width: 140px;
    background: #ff3077;
}
.calculator span.plus {
    grid-row: span 2;
    height: 140px;
}
.calculator span.equal {
    background: #03b1ff;
}
@media (max-width:423px) {
    .calculator span {
        height: 50px;
        width: 50px;
    }
    .calculator span.clear {
        width: 100px;
    }
    .calculator span.plus{
        height: 100px;
    }
    .calculator .value {
        height: 80px;
        padding: 0px;
    }
}